# Force everything in Sources/ to be C++
Source/** linguist-language=C++

# Optional: Tell github  to ignore any CMake files in that folder specifically
*.cmake linguist-vendored
CMakeLists.txt linguist-vendored
_deps/** linguist-vendored
cmake/** linguist-vendored
